.side-bar {
  float: left;
  height: 36rem;
  width: 80px;
  background-color: grey;
}

.side-options{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


}
.side-option {
  display: flex;
  padding: 33px;
  color: white;
}

