body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
  background-color: #333437;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: black;
}


h3 {
  color: white;
  display: flex;
}